.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .sliderContainer {
    position: absolute;
    top: calc(100vh - 350px);
  }

  .slider {
    position: relative;
    white-space: nowrap;
    margin: 100px;
  }

  .slider p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 170px;
    font-weight: 500;
    padding-right: 50px;
  }

  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .description {
    position: absolute;
    top: 25%;
    left: 78%;
    color: white;
    font-size: 24px;
    font-weight: 300;
    p {
      margin: 0px;
      margin-bottom: 10px;
    }
    svg {
      transform: scale(2);
      margin-bottom: 100px;
    }
  }
  .cursor {
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 1024px) {
    .slider p {
      font-size: 80px; // Tablet-friendly text size
    }

    .description {
      left: 60%;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 768px) {
    .sliderContainer {
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
    }

    .slider {
      margin: 0 auto;
      white-space: normal;
    }

    .slider p {
      font-size: 32px;
      display: inline-block;
      position: static !important;
      padding-right: 0;
    }

    .description {
      top: auto;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      text-align: center;

      svg {
        transform: scale(1.2);
        margin-bottom: 20px;
      }
    }
  }
}
